@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

canvas {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  padding: 0;
  
  display: flex;

  background-color: #eee;
  user-select: none;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stats {
  width: fit-content;
  position: absolute;
  top: calc(50% - 411px);
  left: 50%;
  transform: translate(-50%, -100%);
}

.commands {
  display: grid;
  grid-gap: 10px;
  position: absolute;
  top: 50%;
  left: calc(50% + 416px);
  transform: translate(0, -50%);
}

.speed {
  display: flex;
}

.btn {
  width: fit-content;
  display: flex;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 5px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
